{{ define "header" }}

    {{ $_global := "/static" }}
<!DOCTYPE html>
<html lang="cn">
{{ template "_layout/head" . }}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
        {{ template "_layout/header" . }}
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        {{ template "_layout/sidebar" . }}
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <section class="content-header">
            <h1>
                <span>Page Header</span>
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li class="menu-first">
                    <a href="#">
                        <i class="fa fa-dashboard"></i>
                        <span>Level</span>
                    </a>
                </li>
                <li class="active menu-child">Here</li>
            </ol>
        </section>

{{ end }}