{{ define "index" }}

<!DOCTYPE html>
<html lang="cn">
{{ template "_layout/head" }}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
        {{ template "_layout/header"}}
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        {{ template "_layout/sidebar"}}
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Page Header
                <small>Optional description</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level </a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <section class="content" id="contentShow"></section>
    </div>

    {{ template "_layout/footer" }}
</div>
</body>
</html>

{{ end }}